{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inmar</title>


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawsom-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div class="container-fluid ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-6 location-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 log-det">
                            <!--div class="small-logo">
                               <img src="assets/images/favicon.png" width="100">
                            </div-->
                            <h2>Add Department</h2>
                            
                           
                            <form method='POST'>
                            {% csrf_token %}
                            <div class="text-box-cont">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Location Name</span>
                                    </div>
                                    <input type="text" class="form-control" id='location_name' placeholder="Location Name" aria-label="Locationname" aria-describedby="basic-addon1"data-toggle="modal" data-target="#myModal" value={{department.location.name}}>
                                    <input type="text" style="display: none" id='location_pk' value={{department.location.id}}>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Department Name</span>
                                    </div>
                                    <input type="text" class="form-control" id='department_name' placeholder="Department Name" aria-label="Departmentname" aria-describedby="basic-addon1" value="{{department.name}}">
                                </div>
                          
                                <div class="input-group center mb-3">
                                    {% if type == 'add' %}
                                        <button type='button' id='save' class="btn btn-success btn-round">Save</button>
                                    {% else %}
                                        <button type='button' id='update' data-pk='{{department.id}}' class="btn btn-success btn-round">Update</button>
                                    {% endif %}
                                    <button type='cancel' class="btn btn-success btn-round"><a href='/'>Cancel</a></button>
                                </div>    
                            </div>
                            </form>

  <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Locations</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <table id="location_table" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                <tr>
                    <td id='pk'>{{location.pk}}</td>
                    <td id='name'>{{location.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger cancel" data-dismiss="modal" >Close</button>
      </div>

    </div>
  </div>
</div>



                        </div>
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% include "scripts.html" %}

<script type="text/javascript">
    $(document).ready( function () {
         $('#location_table').DataTable();
        $('#location_table tbody').on( 'click', 'tr', function () {

            $('#location_name').val($(this).find('#name').text());
            $('#location_pk').val($(this).find('#pk').text());
            $('.cancel').trigger('click');
        });
        $('#save').click(function(){
            $.ajax({
                url: '/api/v1/location/' + $('#location_pk').val() + '/department/',
                type: "POST",
                data: {
                    csrfmiddlewaretoken:getCookie('csrftoken'),
                    name: $('#department_name').val(),
                    location: $('#location_pk').val(),
                },
            success: function (data) {
                 
            },
            error: function (xhr, errmsg, err) {
              display_errors('Error Processing AJAX')
            }
          });
         });
        $('#update').click(function(){
            $.ajax({
                url: '/api/v1/location/' + $('#location_pk').val() + '/department/' + $('#update').data('pk')+'/',
                type: "PUT",
                data: {
                    csrfmiddlewaretoken:getCookie('csrftoken'),
                    name: $('#department_name').val(),
                    location: $('#location_pk').val(),
                },
            success: function (data) {
                 
            },
            error: function (xhr, errmsg, err) {
              display_errors('Error Processing AJAX')
            }
          });
         });
});
</script>
</html>
