{% load static %}
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    
    <link rel="stylesheet" href="{% static 'css/fontawsom-all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'css/home.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<!--link rel="stylesheet" type="text/css" href="assets/css/style.css" /-->
    <style>

  /*.node circle {
    fill: #fff;
    stroke: #3ea047;
    stroke-width: 3px;
  }

  .node text { font: 12px sans-serif; }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }*/
  .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
  
    </style>
</head>
<body>

<!-- <div class="header">
  <h1>Logo</h1>
  
</div> -->

<div class="topnav">
  <a href="/logout/">Log Out</a>
</div>

<div class="row">
  <div class="fullcolumn">
    <div class="card">
      <h2>Graph</h2>
      <div class="col-md-6 half-col" id='graph'>
<!-- <script src="http://d3js.org/d3.v3.min.js"></script>
  
<script>

var data = [
    { "name" : "Level 2: A", "parent":"Top Level" },
    { "name" : "Top Level", "parent":"null" },
    { "name" : "Son of A", "parent":"Level 2: A" },
    { "name" : "Daughter of A", "parent":"Level 2: A" },
    { "name" : "Level 2: B", "parent":"Top Level" }
    ];

// *********** Convert flat data into a nice tree ***************
// create a name: node map
var dataMap = data.reduce(function(map, node) {
  map[node.name] = node;
  return map;
}, {});

// create the tree array
var treeData = [];
data.forEach(function(node) {
  // add to parent
  var parent = dataMap[node.parent];
  if (parent) {
    // create child array if it doesn't exist
    (parent.children || (parent.children = []))
      // add node to child array
      .push(node);
  } else {
    // parent is null or missing
    treeData.push(node);
  }
});

// ************** Generate the tree diagram  *****************
var margin = {top: 0, right: 0, bottom: 20, left: 120},
  width = 960 - margin.right - margin.left,
  height = 500 - margin.top - margin.bottom;
  
var i = 0;

var tree = d3.layout.tree()
  .size([height, width]);

var diagonal = d3.svg.diagonal()
  .projection(function(d) { return [d.y, d.x]; });

var svg = d3.select(".half-col").append("svg")
  .attr("width", width + margin.right + margin.left)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

root = treeData[0];
  
update(root);

function update(source) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
    links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 180; });

  // Declare the nodes…
  var node = svg.selectAll("g.node")
    .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter the nodes.
  var nodeEnter = node.enter().append("g")
    .attr("class", "node")
    .attr("transform", function(d) { 
      return "translate(" + d.y + "," + d.x + ")"; });

  nodeEnter.append("circle")
    .attr("r", 10)
    .style("fill", "#fff");

  nodeEnter.append("text")
    .attr("x", function(d) { 
      return d.children || d._children ? -13 : 13; })
    .attr("dy", ".35em")
    .attr("text-anchor", function(d) { 
      return d.children || d._children ? "end" : "start"; })
    .text(function(d) { return d.name; })
    .style("fill-opacity", 1);

  // Declare the links…
  var link = svg.selectAll("path.link")
    .data(links, function(d) { return d.target.id; });

  // Enter the links.
  link.enter().insert("path", "g")
    .attr("class", "link")
    .attr("d", diagonal);

}

</script> -->
</div>
<div class="col-sm-12 col-md-12">
  <h3>Locations</h3>
    <table id="LocationTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Location Name</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr class='clickable-row' data-href='/editlocation/{{ location.id }}/'>
                <td>{{location.pk}}</td>
                <td>{{location.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
          <button type='button' data-href='/addlocation/' class="btn btn-success btn-round clickable-row">Add Location</button>
        </tfoot>
        <!-- <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot> -->
    </table>
  </div>
  <div class="col-sm-12 col-md-12">
    <h3>Departments</h3>
    <table id="DepartmentTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Department ID</th>
                <th>Department Name</th>
                <th>Location ID</th>
                <th>Location Name</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
            <tr class='clickable-row' data-href='/editdepartment/{{ department.id }}/'>
                <td>{{department.id}}</td>
                <td>{{department.name}}</td>
                <td>{{department.location.id}}</td>
                <td>{{department.location.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
          <button type='button' data-href='/adddepartment/' class="btn btn-success btn-round clickable-row">Add Department</button>
        </tfoot>
        <!-- <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot> -->
    </table>
  </div>
  <div class="col-sm-12 col-md-12">
    <h3>Categories</h3>
    <table id="CategoryTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Category Id</th>
                <th>Category Name</th>
                <th>Department Id</th>
                <th>Department Name</th>
                <th>Location Id</th>
                <th>Location Name</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}

            <tr class='clickable-row' data-href='/editcategory/{{ category.id }}/'>
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td>{{category.department.id}}</td>
                <td>{{category.department.name}}</td>
                <td>{{category.department.location.id}}</td>
                <td>{{category.department.location.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
          <button type='button' data-href='/addcategory/' class="btn btn-success btn-round clickable-row">Add Category</button>
        </tfoot>
    </table>
  </div>
  <div class="col-sm-12 col-md-12">
    <h3>Subcategories</h3>
    <table id="SubCategoryTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>SubCategory ID</th>
                <th>SubCategory Name</th>
                <th>Category ID</th>
                <th>Category Name</th>
                <th>Department ID</th>
                <th>Department Name</th>
                <th>Location ID</th>
                <th>Location Name</th>
            </tr>
        </thead>
        <tbody>
            {% for subcategory in subcategories %}
            <tr class='clickable-row' data-href='/editsubcategory/{{ subcategory.id }}/'>
                <td>{{subcategory.id}}</td>
                <td>{{subcategory.name}}</td>
                <td>{{subcategory.category.id}}</td>
                <td>{{subcategory.category.name}}</td>
                <td>{{subcategory.category.department.id}}</td>
                <td>{{subcategory.category.department.name}}</td>
                <td>{{subcategory.category.department.location.id}}</td>
                <td>{{subcategory.category.department.location.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
          <button type='button' data-href='/addsubcategory/' class="btn btn-success btn-round clickable-row">Add SubCategory</button>
        </tfoot>
    </table>
  </div>
  <div class="col-sm-12 col-md-12">
    <h3>SKU's</h3>
    <table id="SkuTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>SKU Code</th>
                <th>SubCategory Name</th>
                <th>Category Name</th>
                <th>Department Name</th>
                <th>Location Name</th>
            </tr>
        </thead>
        <tbody>
              {% for sku in skus %}
                <tr class='clickable-row' data-href='/editsku/{{ sku.id }}/'>
                <td>{{sku.code}}</td>
                <td>{{sku.subcategory.name}}</td>
                <td>{{sku.subcategory.category.name}}</td>
                <td>{{sku.subcategory.category.department.name}}</td>
                <td>{{sku.subcategory.category.department.location.name}}</td>
            </tr>
              {% endfor %}
        </tbody>
        <tfoot>
          <button type='button' data-href='/addsku/' class="btn btn-success btn-round clickable-row">Add SKU</button>
        </tfoot>
    </table>
  </div>    
  
    </div>
  </div>

</div>

<div class="footer">
  <h2>Footer</h2>
</div>


{% include 'scripts.html' %}
<script type="text/javascript">
  $(document).ready( function () {
    $('#LocationTable').DataTable();
    $('#DepartmentTable').DataTable();
    $('#CategoryTable').DataTable();
    $('#SubCategoryTable').DataTable();
    $('#SkuTable').DataTable();

} );
</script>

<script>
// Set the dimensions and margins of the diagram
var margin = {top: 20, right: 90, bottom: 30, left: 90},
    width = 1200 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

// append the svg object to the body of the page
// appends a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("#graph").append("svg")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate("
          + margin.left + "," + margin.top + ")");

var i = 0,
    duration = 750,
    root;

// declares a tree layout and assigns the size
var treemap = d3.tree().size([height, width]);

// load the external data
d3.json("skudata", function(error, treeData) {
  if (error) throw error;

// Assigns parent, children, height, depth
root = d3.hierarchy(treeData, function(d) { return d.children; });
root.x0 = height / 2;
root.y0 = 0;

// Collapse after the second level
root.children.forEach(collapse);

update(root);

});

// Collapse the node and all it's children
function collapse(d) {
  if(d.children) {
    d._children = d.children
    d._children.forEach(collapse)
    d.children = null
  }
}

function update(source) {

  // Assigns the x and y position for the nodes
  var treeData = treemap(root);

  // Compute the new tree layout.
  var nodes = treeData.descendants(),
      links = treeData.descendants().slice(1);

  // Normalize for fixed-depth.
  nodes.forEach(function(d){ d.y = d.depth * 180});

  // ****************** Nodes section ***************************

  // Update the nodes...
  var node = svg.selectAll('g.node')
      .data(nodes, function(d) {return d.id || (d.id = ++i); });

  // Enter any new modes at the parent's previous position.
  var nodeEnter = node.enter().append('g')
      .attr('class', 'node')
      .attr("transform", function(d) {
        return "translate(" + source.y0 + "," + source.x0 + ")";
    })
    .on('click', click);

  // Add Circle for the nodes
  nodeEnter.append('circle')
      .attr('class', 'node')
      .attr('r', 1e-6)
      .style("fill", function(d) {
          return d._children ? "lightsteelblue" : "#fff";
      });

  // Add labels for the nodes
  nodeEnter.append('text')
      .attr("dy", ".35em")
      .attr("x", function(d) {
          return d.children || d._children ? -13 : 13;
      })
      .attr("text-anchor", function(d) {
          return d.children || d._children ? "end" : "start";
      })
      .text(function(d) { return d.data.name; });

  // UPDATE
  var nodeUpdate = nodeEnter.merge(node);

  // Transition to the proper position for the node
  nodeUpdate.transition()
    .duration(duration)
    .attr("transform", function(d) { 
        return "translate(" + d.y + "," + d.x + ")";
     });

  // Update the node attributes and style
  nodeUpdate.select('circle.node')
    .attr('r', 10)
    .style("fill", function(d) {
        return d._children ? "lightsteelblue" : "#fff";
    })
    .attr('cursor', 'pointer');


  // Remove any exiting nodes
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) {
          return "translate(" + source.y + "," + source.x + ")";
      })
      .remove();

  // On exit reduce the node circles size to 0
  nodeExit.select('circle')
    .attr('r', 1e-6);

  // On exit reduce the opacity of text labels
  nodeExit.select('text')
    .style('fill-opacity', 1e-6);

  // ****************** links section ***************************

  // Update the links...
  var link = svg.selectAll('path.link')
      .data(links, function(d) { return d.id; });

  // Enter any new links at the parent's previous position.
  var linkEnter = link.enter().insert('path', "g")
      .attr("class", "link")
      .attr('d', function(d){
        var o = {x: source.x0, y: source.y0}
        return diagonal(o, o)
      });

  // UPDATE
  var linkUpdate = linkEnter.merge(link);

  // Transition back to the parent element position
  linkUpdate.transition()
      .duration(duration)
      .attr('d', function(d){ return diagonal(d, d.parent) });

  // Remove any exiting links
  var linkExit = link.exit().transition()
      .duration(duration)
      .attr('d', function(d) {
        var o = {x: source.x, y: source.y}
        return diagonal(o, o)
      })
      .remove();

  // Store the old positions for transition.
  nodes.forEach(function(d){
    d.x0 = d.x;
    d.y0 = d.y;
  });

  // Creates a curved (diagonal) path from parent to the child nodes
  function diagonal(s, d) {

    path = `M ${s.y} ${s.x}
            C ${(s.y + d.y) / 2} ${s.x},
              ${(s.y + d.y) / 2} ${d.x},
              ${d.y} ${d.x}`

    return path
  }

  // Toggle children on click.
  function click(d) {
    if (d.children) {
        d._children = d.children;
        d.children = null;
      } else {
        d.children = d._children;
        d._children = null;
      }
    update(d);
  }
}

</script>
</body>
</html>
